@model DynThings.Data.Models.Location

@foreach (var ePoint in Model.EndPoints)
{
    <Text>

    <button id="btnEndPoint_@ePoint.GUID" class="shortcut-button @ePoint.CssColor.Css   fg-white" onclick="LoadEndPointParts('@ePoint.GUID')" style="border:solid;border-bottom-width:thick;">
        <span class="@ePoint.CssIcon.Css"></span>
        <span class="title">@ePoint.Title</span>
        <span class="badge">@ePoint.EndPointType.Title</span>
        
    </button>

    </text>
}

<div class="tabcontrol2" data-role="tabcontrol">
    <ul class="tabs">
        <li class="active"><a href="#frame_EndPointMain">Main</a></li>
        <li class=""><a href="#frame_EndPointHistory">History</a></li>
        <li class=""><a href="#frame_EndPointCommands">Commands</a></li>
    </ul>
    <div class="frames bg-white" @*style="height:450px"*@>
        <div class="frame" id="frame_EndPointMain" style="display: block;">
            <div id="divMonitorEndPointMain">
            </div>
        </div>

        <div class="frame" id="frame_EndPointHistory" style="display: none;">
            <div id="divMonitorEndPointHistory">
            </div>
        </div>

        <div class="frame" id="frame_EndPointCommands" style="display: none;">

        </div>
    </div>
</div>



<script>

    function LoadEndPointParts(guid) {
        LoadPart_MonitorEndPointHistory(guid);
        LoadPart_MonitorEndPointMain(guid);
    }


    function LoadPart_MonitorEndPointMain(Guid) {
        var loadingpart = LoadDivLoading();
        $("#SelectedEndPointID").val(Guid);
        $("#divMonitorEndPointMain").html(loadingpart);
        $.ajax({
            url: '@Url.Content("~/")' + 'Monitor/GetPVMonitorEndPointMain?guid=' + Guid,
            type: "GET",
        })
        .done(function (partialViewResult) {
            $("#divMonitorEndPointMain").html(partialViewResult);
        });
    }

    function LoadPart_MonitorEndPointHistory(Guid) {
        var loadingpart = LoadDivLoading();
        $("#SelectedEndPointID").val(Guid);
        $("#divMonitorEndPointHistory").html(loadingpart);
        $.ajax({
            url: '@Url.Content("~/")' + 'Monitor/GetPVMonitorEndPointHistory?guid=' + Guid,
            type: "GET",
        })
        .done(function (partialViewResult) {
            $("#divMonitorEndPointHistory").html(partialViewResult);
        });
    }


</script>

