@model DynThings.Data.Models.DeviceCommand
<div class="right">
    <button type="button" class="btn btn-info pull-right" onclick="LoadDeviceCommandEditor(@Model.ID)" data-toggle="modal" data-target="#mdl">Edit</button>
</div>

<strong>Title</strong><br>
@Model.Title<br><br>

<strong>Description</strong><br>
@Model.Description<br><br>

<strong>Device</strong><br>
@Model.Device.Title<br><br>

<strong>Command Code</strong><br>
@Model.CommandCode<br><br>
