@model DynThings.Data.Models.DeviceCommand

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Device Command Editor</h4>
</div>
@using (Html.BeginForm("EditPV", "DeviceCommands", FormMethod.Post, new { id = "DeviceCommandEditForm" }))
{
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)


        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "" })
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.DeviceID, "DeviceID", htmlAttributes: new { @class = "" })
        @Html.DropDownList("DeviceID", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DeviceID, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.CommandCode, htmlAttributes: new { @class = "" })
        @Html.EditorFor(model => model.CommandCode, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CommandCode, "", new { @class = "text-danger" })


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
}
<script>
    $(document).ready(function () {
        AttachEventDeviceCommandEditForm(@Model.ID);
    });
</script>
