<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Metro, a sleek, intuitive, and powerful framework for faster and easier web development for Windows Metro Style.">
    <meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, metro, front-end, frontend, web development">
    <meta name="author" content="Sergey Pimenov and Metro UI CSS contributors">

    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">

    <title>@ViewBag.Title - DynThings</title>



    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.2.3.min.js"></script>

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        .fullHeight {
            background: #ffffff;
            height: 100%;
        }
        .nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">DynThings</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li class=""><a href="~/">Home</a></li>*@
                    <li class=""><a href="~/locationViews/">Views</a></li>
                    <li><a href="#contact">Alerts</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/locationviews/index">Views</a></li>
                            <li><a href="~/Things/">Things</a></li>
                            <li><a href="~/locations/">Locations</a></li>
                            <li><a href="~/devices">Devices</a></li>
                            <li><a href="~/endpoints">EndPoints</a></li>
                            <li><a href="~/devicecommands">Commands (Devices)</a></li>
                            <li><a href="~/endpointcommands">Commands (EndPoints)</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Administration</li>
                            <li><a href="~/config">Settings</a></li>
                            <li><a href="~/DynUsers">Users</a></li>
                        </ul>
                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        @Html.Partial("_LoginPartial")
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <br />
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/highcharts")
    @Scripts.Render("~/bundles/bootstrapnotify")

    <link href="~/Content/docs.min.css" rel="stylesheet" />
    <script src="~/Assets/Scripts/MidLayerScripts/Notify.js"></script>

    @RenderSection("scriptfiles", required: false)
    @RenderSection("scripts", required: false)

    <div hidden="hidden">
        @Html.Partial("_PVLoading")
    </div>
    @Html.Partial("_Modal")

    <script>
        @{
            var baseurl = String.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/"));
        }
        function getRootURL() {
            var base_url = "@baseurl";
            return base_url;
        }

        //Server Response
        function ServerResponse(response) {
            var Ntyp = '';
            var Ntitle = ''
            if (response.ResultType == '0') {
                Ntyp = 's';
                Ntitle = 'Success';
            }
            else {
                Ntyp = 'd';
                Ntitle = 'Error';
            }
            NotifyWithTitle(Ntyp, Ntitle, response.Message);
        };
    </script>

</body>
</html>
