@model IPagedList<DynThings.Data.Models.EndPointIO>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-control">
            <button class="btn btn-default" onclick="LoadPart_EndpointHistoryDiv();">
                <i class="demo-psi-repeat-2 icon-fw"></i> Refresh
            </button>
        </div>
        <h3 class="panel-title">History</h3>
    </div>

    <div class="panel-body">
        <div class="pad-btm form-inline">
            <div class="row">
                <div class="col-sm-6 table-toolbar-left">
                </div>

            </div>
        </div>
        <table class="table striped hovered table-bordered" id="main_table_demo">
            <thead>
                <tr>
                    <th>Value</th>
                    <th>I/O</th>
                    <th>Date</th>
                    <th>Thing</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var io in Model)
                {
                    <Text>
                    <tr>
                        <td>@io.Valu</td>
                        <td>@io.IOType.Title</td>
                        <td>@io.TimeStamp</td>
                        <td>@io.Thing.Title</td>
                    </tr>
                    </text>
                }
            </tbody>
        </table>
        <div id="EndPointIOsListPager" hidden="hidden">
            <input id="EndPointIOsCurrentPage" value="@Model.PageNumber.ToString()" hidden />
            @Html.PagedListPager(Model, page => Url.Action("GetPVEndPointHistory", new { page }))
        </div>

    </div>
</div>