@model DynThings.Data.Models.Endpoint

<div class="grid">
    <div class="row cells12">
        <div class="cell colspan11">
            <strong>Title</strong><br>
            @Model.Title<br><br>

            <strong>Type</strong><br>
            @Model.EndPointType.Title<br><br>

            <strong>Uniqe Identifier</strong><br>
            @Model.GUID<br><br>

            <strong>KeyPass</strong><br>
            @Model.KeyPass<br><br>

            <strong>Pin Code</strong><br>
            @Model.PinCode<br><br>

            <strong>Default Color</strong><br>
            @Model.CssColor.Title<br><br>

            <strong>Icon</strong><br>
            @Model.CssIcon.Title<br><br>
        </div>
        <div class="cell">
            <ul class="t-menu compact">
                <li onclick="LoadEndpointEditor(@Model.ID)"><a href="#"><span class="icon mif-pencil"></span></a></li>
                <li onclick="LoadPart_EndPointDetailsDiv(@Model.ID)"><a href="#"><span class="icon mif-shrink"></span></a></li>

            </ul>
        </div>
    </div>



</div>