
@model IPagedList<DynThings.Data.Models.EndPointIO>

<table class="table striped hovered bordered" id="main_table_demo">
    <thead>
        <tr>
            <th>Value</th>
            <th>I/O</th>
            <th>Date 1</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var loc in Model)
            {
            <Text>
            <tr>
                <td>@loc.Valu</td>
                <td>@loc.IOType.Title</td>
                <td>@loc.TimeStamp</td>
            </tr>
            </text>
        }
    </tbody>
</table>
<div id="EndPointIOsListPager">
    <input id="EndPointIOsCurrentPage" value="@Model.PageNumber.ToString()" hidden />
    @Html.PagedListPager(Model, page => Url.Action("GetPVEndPointHistory", new { page }))
</div>

