@model PagedList.IPagedList<DynThings.Data.Models.Endpoint>



<table class="table striped hovered border bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Device</th>
            <th>Thing</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndPointType.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Device.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thing.Title)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }
    </tbody>
</table>


<div id="EndPointsListPager">
    <input id="EndPointCurrentPage" value="@Model.PageNumber.ToString()" hidden />
   

    @Html.PagedListPager(Model, page => Url.Action("ListPV", new { page }))
</div>

