@model PagedList.IPagedList<DynThings.Data.Models.Endpoint>

<table class="table striped hovered border bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Device</th>
            <th>Thing</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <img src="~/Imgs/@(item.EndPointType.MediaFile.GUID.ToString() + ".png")" />
                @Html.DisplayFor(modelItem => item.EndPointType.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Device.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thing.Title)
            </td>
            <td>
                <a class="btn btn-info pull-right" href="~/Endpoints/Details?ID=@item.ID">Details</a>
                @*<button class="btn btn-warning pull-right" onclick="LoadPart_DialogThingCategoryEdit(@item.ID)" data-toggle="modal" data-target="#mdl">Edit</button>
                <button class="btn btn-danger pull-right" onclick="LoadPart_DialogThingCategoryDelete(@item.ID)" data-toggle="modal" data-target="#mdl">Delete</button>*@
            </td>
        </tr>
    }
    </tbody>
</table>

<div id="EndPointsListPager">
    <input id="EndPointCurrentPage" value="@Model.PageNumber.ToString()" hidden />
   
    @Html.PagedListPager(Model, page => Url.Action("ListPV", new { page }))
</div>

