@model DynThings.Data.Models.Endpoint
@{
    ViewBag.Title = "EndPoint Details";
}

<div class="container">
    <div class="page-header">
        <h1>EndPoint Details</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <select id="drpEndpointHighchartsView" class="form-control" onchange="drpReport_Select(@Model.ID,'@DateTime.Now.Year.ToString()')">
                    <option value="1">Inputs: Minutes\Hour</option>
                    <option value="2">Inputs: Hour\Day</option>
                    <option value="3">Inputs: Day\Month</option>
                    <option value="4">Inputs: Month\Year</option>
                    <option value="5">Network: Connection drops\Months  (Count)</option>
                </select>
                <div class="input-group-btn">
                    <button onclick="drpReport_Select(@Model.ID,'@DateTime.Now.Year.ToString()')" class="btn btn-primary">Refresh</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="EndPointChartDiv"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tabEndPointmain">Main</a></li>
                <li><a data-toggle="tab" href="#tabEndPointhistory">History</a></li>
                <li><a data-toggle="tab" href="#tabEndPointcommands">Commands</a></li>
                <li><a data-toggle="tab" href="#tabEndPointDevkeys">Dev Keys</a></li>
                <li><a data-toggle="tab" href="#tabEndPointDelete">Delete</a></li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="tabEndPointmain" class="tab-pane fade in active">
                            <div id="divEndPointMain">
                            </div>
                        </div>
                        <div id="tabEndPointhistory" class="tab-pane fade">
                            <div class="right">
                                <button type="button" class="btn btn-info pull-right" onclick="LoadPart_EndPointHistoryDiv('@Model.ID')">Refresh</button>
                            </div>
                            <div id="divEndPointHistory">
                            </div>
                        </div>
                        <div id="tabEndPointcommands" class="tab-pane fade">
                            <div id="divEndPointCommandsList">
                            </div>
                        </div>
                        <div id="tabEndPointDevkeys" class="tab-pane fade">
                            <div id="divEndPointDevkeys">
                                @Html.Partial("_Details_Keys", Model)
                            </div>
                        </div>
                        <div id="tabEndPointDelete" class="tab-pane fade">
                            <div id="divEndPointDelete">
                                <button type="button" class="btn btn-danger" onclick="LoadPart_DialogEndPointDelete(@Model.ID)" data-toggle="modal" data-target="#mdl">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->




@section scripts{
    <script src="~/Assets/Scripts/DynScripts/EndPoints.js"></script>
    <script src="~/Assets/Scripts/DynScripts/EndPointCommands.js"></script>

    <script>
        $(document).ready(function () {
            LoadPart_EndPointDetailsDiv('@Model.ID');
            LoadPart_EndPointHistoryDiv('@Model.ID');
            LoadPart_EndPointCommandListByEndPointIDDiv('@Model.ID', '');
            //LoadChart_EndPoint_MonthDiv('@Model.ID','@DateTime.Now.Year.ToString()');
            LoadChart_EndPoint_DayDiv('@Model.ID');
        });
    </script>

    <script>
        $(document).ready(function () {
            $(document).on("click", "#EndPointIOsListPager a[href]", function () {
                var loadingpart = LoadDivLoading();
                $("#divEndPointHistory").html(loadingpart);
                $.ajax({
                    url: $(this).attr("href") + '&endpointid=@Model.ID&recordsperpage=0',
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $("#divEndPointHistory").html(result);
                        return false;
                    }
                });
                return false;
            });
        });

    </script>

}
