@model DynThings.WebPortal.Models.Endpoint

@{
    ViewBag.Title = "Details";
}

<h2>EndPoint : @Model.Title</h2>
<br>

    <div class="row">
        <div class="cell colspan6" data-text="EndPoint">

            <div class="tabcontrol2" data-role="tabcontrol">
                <ul class="tabs">
                    <li class="active"><a href="#frame_Main">Main</a></li>
                    <li class=""><a href="#frame_Triggers">Triggers</a></li>
                    <li class=""><a href="#frame_Commands">Commands</a></li>
                </ul>
                <div class="frames bg-white" style="height:450px">
                    <div class="frame" id="frame_Main" style="display: block;">
                        <div class="row cells12">
                        <div class="cell offset11">offset11</div>
                        </div>

                        <strong>Title</strong><br>
                        @Model.Title<br><br>

                        <strong>Type</strong><br>
                        @Model.EndPointType.Title<br><br>

                        <strong>Uniqe Identifier</strong><br>
                        @Model.GUID<br><br>

                        <strong>KeyPass</strong><br>
                        @Model.KeyPass<br><br>

                        <strong>Pin Code</strong><br>
                        @Model.PinCode<br><br>

                        <strong>Default Color</strong><br>
                        @Model.CssColor.Title<br><br>

                        <strong>Icon</strong><br>
                        @Model.CssIcon.Title<br><br>
                        
                    </div>

                    <div class="frame" id="frame_Triggers" style="display: none;">

                    </div>

                    <div class="frame" id="frame_Commands" style="display: none;">

                    </div>
                </div>
            </div>



        </div>
    </div>
    @*<div class="row cells12">
        <div class="cell colspan6 example" data-text="History">
            222222222222222222222222222
        </div>
        <div class="cell colspan6 example" data-text="Alerts">

        </div>


    </div>*@






@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@


