@model IPagedList<DynThings.Data.Models.EndPointIO>

<br />

<div class="panel panel-bordered-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Thing Inputs</h3>
    </div>
    <div class="panel-body">
        <table class="table striped hovered border bordered">
            <thead>
                <tr>
                    <th>Execution TimeStamp</th>
                    <th>Value</th>
                    <th>Source EndPoint</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExecTimeStamp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Endpoint.Title)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="ThingEndIOsListPager">
            <input id="ThingEndIOsCurrentPage" value="@Model.PageNumber.ToString()" hidden />
            @Html.PagedListPager(Model, page => Url.Action("Rpt_IOsHistory", new { page }))
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        AttachEventThingEndIOsListPager();

        //$('#drpHistoryIOsFromDate').val(new Date().toDateInputValue());
    });

    //Attach : Pager
    function AttachEventThingEndIOsListPager() {
        $(document).on("click", "#ThingEndIOsListPager a[href]", function () {
            var loadingpart = LoadDivLoading();
            $("#divThingEndHistory_Inputs").html(loadingpart);
            $.ajax({
                url: $(this).attr("href") + "&thingID=" + selectedThingID + '&endPointTypeID=' + selectedThingEndPointTypeID + '&fromDate=' + $('#drpHistoryIOsFromDate').val() + '&toDate=' + $('#drpHistoryIOsToDate').val() + '&recordsperpage=0',
                type: 'GET',
                cache: false,
                success: function (result) {
                    $("#divThingEndHistory_Inputs").html(result);
                    return false;
                }
            });
            return false;
        });
    }
</script>