@model PagedList.IPagedList<DynThings.Data.Models.ThingCategory>

<table class="table striped hovered border bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
           
            <td>
                <button class="btn btn-warning pull-right" onclick="LoadPart_DialogThingCategoryEdit(@item.ID)" data-toggle="modal" data-target="#mdl">Edit</button>
                <button class="btn btn-danger pull-right" onclick="LoadPart_DialogThingCategoryDelete(@item.ID)" data-toggle="modal" data-target="#mdl">Delete</button>
            </td>
        </tr>
    }
    </tbody>
</table>


<div id="ThingCategorysListPager">
    <input id="ThingCategoryCurrentPage" value="@Model.PageNumber.ToString()" hidden />
   

    @Html.PagedListPager(Model, page => Url.Action("ListPV", new { page }))
</div>

