@model IPagedList<DynThings.Data.Models.Location>
<table class="table striped hovered border bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Is Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    <a href="#" onclick="SelectLocationFromLookUp('@item.ID')">@item.Title</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="LocationsLookupListPager">
    <input id="LocationCurrentPage" value="@Model.PageNumber.ToString()" hidden />
    @Html.PagedListPager(Model, page => Url.Action("LookupListPV", new { page }))
</div>

