@model IPagedList<DynThings.Data.Models.Location>

<table class="table striped hovered border bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>GUID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GUID)
                </td>

                <td>
                    <button onclick="DeattachLocationFromLocationView(selectedLocationView, @item.ID)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="LocationsListPager">
    <input id="LocationCurrentPage" value="@Model.PageNumber.ToString()" hidden />
    @Html.PagedListPager(Model, page => Url.Action("LocationsByLocationViewIDListGridPV", "locationViews", new { page }) + "&locationviewID=1")
</div>

<script>
    function EventSelectLocation() {
        AttachLocationToLocationView(selectedLocationView, selectedLocation);
    }
</script>