@model DynThings.Data.Models.Location

@foreach (var ePoint in Model.EndPoints)
{
    <Text>
    <button id="btnEndPoint_@ePoint.GUID" class="btn btn-default" onclick="LoadEndPointParts('@ePoint.ID')" style="height:120px;min-width:120px">
        @*<span class="glyphicon glyphicon-star" aria-hidden="true"></span>*@
        @*<span class="@ePoint.CssIcon.Css"></span>*@
        <span class="title">@ePoint.Title</span>
        <br />
        <span class="badge">@ePoint.EndPointType.Title</span>
        <br />
        <span style="font-size:larger">@ePoint.LastInput.Valu</span>
    </button>
    </text>
}

<br />
<br />
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#main">Main</a></li>
    <li><a data-toggle="tab" href="#history">History</a></li>
    <li><a data-toggle="tab" href="#commands">Commands</a></li>
</ul>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="tab-content">
            <div id="main" class="tab-pane fade in active">
                <div id="divMonitorEndPointMain">
                </div>
            </div>
            <div id="history" class="tab-pane fade">
                <div id="divMonitorEndPointHistory">
                </div>
            </div>
            <div id="commands" class="tab-pane fade">
                <div id="divEndPointCommandsList">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function LoadEndPointParts(endPointID) {
        LoadPart_MonitorEndPointMain(endPointID);
        LoadPart_MonitorEndPointHistory(endPointID);
        LoadPart_MonitorEndPointCommands(endPointID);
    }

</script>