@model DynThings.Data.Models.LocationView
@switch (Model.LocationViewTypeID)
{
    case 1://Single Location

        break;
    case 2://Thumbnails

        break;
    case 3://Map
        @Html.Partial("_MonitorView_Map", Model)
        break;
    case 4://List

        break;

    case 5://List & Map (Mobile: List only)
        <div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 nopadding">
                @Html.Partial("_MonitorView_List", Model)

            </div>
            <div class="col-lg-9 col-md-9 hidden-sm hidden-xs">
                @Html.Partial("_MonitorView_Map", Model)

            </div>
        </div>
        break;

    case 6://List & Map (Mobile: Map only)
        <div>
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs nopadding">
                @Html.Partial("_MonitorView_List", Model)

            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
                @Html.Partial("_MonitorView_Map", Model)

            </div>
        </div>
        break;

}

