@model IPagedList<DynThings.Data.Models.ViewModels.ThingEnd>
<div class="list-group">
    @foreach (var item in Model)
    {
        <div class="list-group-item">


            <div class="row" onclick="alert('@item.Thing.ID.ToString()')" style="cursor:pointer">
                <div class="col-md-6">
                    <h5><span><strong>@item.Thing.Title</strong></span></h5>
                    <h5><span>@item.Thing.CategoryTitle</span></h5>
                    <br />
                    <h5><span class="label label-success">Connected</span></h5>
                    <h6><span>Last update: @item.LastSubmitTimeStamp</span></h6>
                </div>

                <div class="col-md-6">
                    <div id="gauge_@item.Location.ID.ToString()_@item.Thing.ID.ToString()_@item.EndPoint.ID.ToString()"></div>
                   
                </div>
                <script>
                    var g = new JustGage({
                        id: "gauge_@item.Location.ID.ToString()_@item.Thing.ID.ToString()_@item.EndPoint.ID.ToString()",
                        value: @item.LastSubmitValue,
                        min: 0,
                        max: 85,
                        title: "@item.EndPoint.TypeTitle",
                        label:"@item.EndPoint.Measurement"

                    });
                </script>
            </div>


        </div>
    }
</div>