@model IPagedList<DynThings.Data.Models.ThingEnd>
<div>
    <div class="list-group">
        @foreach (var item in Model)
        {
            <div id="Thing_@item.Thing.ID.ToString()_EndPointType_@item.EndPointTypeID.ToString()" class="list-group-item">
                <div class="row">
                    <div class="col-md-12">
                        <h5><span><strong>@item.Thing.Title</strong></span></h5>
                    </div>
                </div>
                <div class="row" onclick="showEndDetails(@item.Thing.ID.ToString(),@item.EndPointTypeID.ToString())" style="cursor:pointer">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        
                        <img id="imgThingEndImage_@item.Thing.ID.ToString()_@item.EndPointTypeID.ToString()" />
                        <h5><span>@item.Thing.ThingCategory.Title</span></h5>

                        @*@if (@item.Device.IsConnected == true)
                        {
                            <h5><span class="label label-success">Connected</span></h5>
                        }
                        else
                        {
                            <h5><span class="label label-danger">Disconnected</span></h5>
                        }*@

                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div id="gauge_@item.Thing.ID.ToString()_@item.EndPointTypeID.ToString()" style="height:110px"></div>
                    </div>
                </div>

                <div class="row" onclick="showEndDetails(@item.Thing.ID.ToString(),@item.EndPointTypeID.ToString())" style="cursor:pointer">
                    <div class="col-md-12">
                        <h6><span>Last update: @item.LastIOTimeStamp</span></h6>
                    </div>
                </div>
            </div>

            <script>
                var g = new JustGage({
                    id: "gauge_@item.Thing.ID.ToString()_@item.EndPointTypeID.ToString()",
                    value: '@item.LastIOValue',
                    min: 0,
                    max: 85,
                    title: "@item.EndPointType.Title",
                    label:"@item.EndPointType.measurement"

                });

                $('#imgThingEndImage_@item.Thing.ID.ToString()_@item.EndPointTypeID.ToString()').attr('src',getRootURL() + "/imgs/@(item.EndPointType.IconID.ToString() + ".png")" );
            </script>
        }
    </div>

    @if (Model.PageCount > 1)
    {
        <div id="ThingEndsListPager">
            <input id="ThingEndsCurrentPage" value="@Model.PageNumber.ToString()" hidden />
            @Html.PagedListPager(Model, page => Url.Action("GetLocationThingEndsListPV", new { page }))
        </div>
    }
</div>



<script>
    $(document).ready(function () {
        FixUI_MonitorLocation();
    });



    function showEndDetails(thingID,typeID){
        $('#divMonitorView').hide();
        $('#divMonitorDetails').show();
        $('#divMonitorPrimaryContrainer').removeClass('hidden-xs');
        LoadPart_MonitorThingEndDetails(thingID,typeID);
    };

    function ClosedivMonitorDetailsDiv() {
        $('#divMonitorDetails').hide();
        $('#divMonitorView').show();
    };

</script>