@model IPagedList<DynThings.Data.Models.ViewModels.ThingEnd>
<div >
    <div class="list-group">
        @foreach (var item in Model)
        {
            <div class="list-group-item">
                <div class="row" onclick="showEndDetails(@item.Thing.ID.ToString(),@item.EndPoint.TypeID.ToString())" style="cursor:pointer">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <h5><span><strong>@item.Thing.Title</strong></span></h5>
                        <h5><span>@item.Thing.CategoryTitle</span></h5>
                        <br />
                        <h5><span class="label label-success">Connected</span></h5>
                        <h6><span>Last update: @item.LastSubmitTimeStamp</span></h6>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div id="gauge_@item.Location.ID.ToString()_@item.Thing.ID.ToString()_@item.EndPoint.TypeID.ToString()"></div>
                    </div>
                </div>
            </div>

            <script>
            var g = new JustGage({
                id: "gauge_@item.Location.ID.ToString()_@item.Thing.ID.ToString()_@item.EndPoint.TypeID.ToString()",
                value: @item.LastSubmitValue,
                min: 0,
                max: 85,
                title: "@item.EndPoint.TypeTitle",
                label:"@item.EndPoint.Measurement"

            });
            </script>
        }
    </div>

    @if (Model.PageCount > 1)
    {
        <div id="ThingEndsListPager">
            <input id="ThingEndsCurrentPage" value="@Model.PageNumber.ToString()" hidden />
            @Html.PagedListPager(Model, page => Url.Action("GetLocationThingEndsListPV", new { page }))
        </div>
    }
</div>


 


<script>
    $(document).ready(function () {
        FixUI();
    });



    function showEndDetails(thingID,typeID){
        $('#divMonitorMap').hide();
        $('#divMonitorDetails').show();
        $('#divMapContrainer').removeClass('hidden-xs');
        LoadPart_MonitorThingEndDetails(thingID,typeID);
    };

    function ClosedivMonitorDetailsDiv() {
        $('#divMonitorDetails').hide();
        $('#divMonitorMap').show();
    };

</script>