@model DynThings.Data.Models.ViewModels.ThingEnd

<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">@Model.Thing.Title (@Model.EndPoint.TypeTitle)</a>


        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-left">
                <li id="liThingEndDashboard" class="active"><a href="#" onclick="SelectThingEndDetailsView_Dashboard()">Dashboard</a></li>
                <li id="liThingEndHistory"><a href="#" onclick="SelectThingEndDetailsView_History()">History</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" onclick="Load_ThingsEnd_Details()">Refresh</a></li>

                <li><a href="#" onclick="ClosedivMonitorDetailsDiv()">Close</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id="divThingEndDetailsView_Dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div id="divThingEndChart_Inputs"></div>

            </div>
        </div>
    </div>
</div>

<div id="divThingEndDetailsView_History" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              
                <div id="divThingEndHistory_Inputs"></div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        SelectThingEndDetailsView_Dashboard();
        Load_ThingsEnd_Details();
        Load_ThingEnd_HistoryDiv();
    });




    function Load_ThingEnd_InputsMinutesDiv() {
        LoadChart_ThingEnd_InputsMinutesDiv('@Model.Thing.ID', '@Model.EndPoint.TypeID');
    };

    function Load_ThingEnd_InputsHoursDiv() {
        LoadChart_ThingEnd_InputsHoursDiv('@Model.Thing.ID', '@Model.EndPoint.TypeID');
    };

    function Load_ThingEnd_InputsDaysDiv() {
        LoadChart_ThingEnd_InputsDaysDiv('@Model.Thing.ID', '@Model.EndPoint.TypeID');
    };

    function Load_ThingEnd_InputsMonthsDiv() {
        LoadChart_ThingEnd_InputsMonthsDiv('@Model.Thing.ID', '@Model.EndPoint.TypeID');
    };


    function Load_ThingEnd_HistoryDiv() {
        LoadGrid_ThingEnd_HistoryDiv('@Model.Thing.ID', '@Model.EndPoint.TypeID', '1-1-2016', '12-31-2016');
    };
</script>