@model DynThings.Data.Models.ThingEnd

<div id="Thing_@Model.Thing.ID.ToString()_EndPointType_@Model.EndPointTypeID.ToString()" class="list-group-Model">
    <div class="row" onclick="showEndDetails(@Model.Thing.ID.ToString(),@Model.EndPointTypeID.ToString())" style="cursor:pointer">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h5><span><strong>@Model.Thing.Title</strong></span></h5>
            <img id="imgThingEndImage_@Model.Thing.ID.ToString()_@Model.EndPointTypeID.ToString()" />
            <h5><span>@Model.Thing.ThingCategory.Title</span></h5>

            @*@if (@Model.eDevice.IsConnected == true)
            {
                <h5><span class="label label-success">Connected</span></h5>
            }
            else
            {
                <h5><span class="label label-danger">Disconnected</span></h5>
            }*@

        </div>

        <div class="col-md-6 col-sm-6 col-xs-6">
            <div id="gauge_@Model.Thing.ID.ToString()_@Model.EndPointTypeID.ToString()"></div>
        </div>
    </div>

    <div class="row" onclick="showEndDetails(@Model.Thing.ID.ToString(),@Model.EndPointTypeID.ToString())" style="cursor:pointer">
        <div class="col-md-12">
            <h6><span>Last update: @Model.LastIOTimeStamp</span></h6>
        </div>
    </div>
</div>

<script>
    var g = new JustGage({
        id: "gauge_@Model.Thing.ID.ToString()_@Model.EndPointTypeID.ToString()",
        value: '@Model.LastIOTimeStamp',
        min: @Model.EndPointIO.Endpoint.MinValue,
        max: @Model.EndPointIO.Endpoint.MaxValue,
        title: "@Model.EndPointType.Title",
        label:"@Model.EndPointType.measurement"

    });
    @*$('#imgThingEndImage_@Model.Thing.ID.ToString()_@Model.EndPointTypeID.ToString()').attr('src',getRootURL() + "/imgs/@(Model.EndPoint.IconID.ToString() + ".png")" );*@
</script>





