@model DynThings.Data.Models.ThingEnd

<div class="panel panel-info">
    <!--Panel heading-->
    <div class="panel-heading">
        <div class="panel-control">

            <!--Nav tabs-->
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#divThingEndDetailsView_Dashboard" onclick="SelectThingEndDetailsView_Dashboard()">Dashboard</a></li>
                <li><a data-toggle="tab" href="#divThingEndDetailsView_History" onclick="SelectThingEndDetailsView_History()">History</a></li>
            <li><button class="btn btn-default" data-dismiss="panel" onclick="ClosedivMonitorDetailsDiv()"><i class="demo-pli-cross"></i></button></li>
            </ul>

        </div>
        <h3 class="panel-title">@Model.Thing.Title (@Model.EndPointType.Title)</h3>
    </div>

    <!--Panel body-->
    <div class="panel-body">

            <div id="divThingEndDetailsView_Dashboard" class="fade in active">
                <div id="divThingEndChart_Inputs"></div>
            </div>
        <br />
            <div id="divThingEndDetailsView_History" class="fade in">
                <div class="btn-group pull-right nopadding" style="padding-top:0px;margin-top:0px; top:-15px">
                    <a href="#" class="btn btn-default btn-sm pull-right" onclick="Load_ThingEnd_HistoryDiv();" style="padding-top:0px;margin-top:0px;">Filter</a>
                    <input id="drpHistoryIOsFromDate" type="date" value="@string.Format("{0:yyyy-MM-dd}", @DateTime.Now)" />
                    <input id="drpHistoryIOsToDate" type="date" value="@string.Format("{0:yyyy-MM-dd}", @DateTime.Now)" />
                </div>


                <div id="divThingEndHistory_Inputs"></div>
            </div>

    </div>
</div>



<script>
    $(document).ready(function () {
        SelectThingEndDetailsView_Dashboard();
        Load_ThingsEnd_Details();
        Load_ThingEnd_HistoryDiv();
    });




    function Load_ThingEnd_InputsMinutesDiv() {
        LoadChart_ThingEnd_InputsMinutesDiv('@Model.Thing.ID', '@Model.EndPointTypeID');
    };

    function Load_ThingEnd_InputsHoursDiv() {
        LoadChart_ThingEnd_InputsHoursDiv('@Model.Thing.ID', '@Model.EndPointTypeID');
    };

    function Load_ThingEnd_InputsDaysDiv() {
        LoadChart_ThingEnd_InputsDaysDiv('@Model.Thing.ID', '@Model.EndPointTypeID');
    };

    function Load_ThingEnd_InputsMonthsDiv() {
        LoadChart_ThingEnd_InputsMonthsDiv('@Model.Thing.ID', '@Model.EndPointTypeID', '@DateTime.Now.Year.ToString()');
    };

    function Load_ThingEnd_HistoryDiv() {
        LoadGrid_ThingEnd_HistoryDiv('@Model.Thing.ID', '@Model.EndPointTypeID', $('#drpHistoryIOsFromDate').val(), $('#drpHistoryIOsToDate').val());
    };
</script>