@model DynThings.Data.Models.LocationView
@{
    ViewBag.Title = "LocationView Details";
}

<div class="container">
    <div class="page-header">
        <h1>LocationView Details</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tabLocationViewmain">Main</a></li>
                <li><a data-toggle="tab" href="#tabLocationViewmap">Map</a></li>
                <li><a data-toggle="tab" href="#tabLocationViewlocations">Locations</a></li>
                <li><a data-toggle="tab" href="#tabLocationViewDevkeys">Dev Keys</a></li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="tabLocationViewmain" class="tab-pane fade in active">
                            <div id="divLocationViewMain">

                            </div>
                        </div>
                        <div id="tabLocationViewmap" class="tab-pane fade">
                            <div id="divLocationViewMap">
                                @Html.Partial("_EditMap", Model)
                            </div>
                        </div>
                        <div id="tabLocationViewlocations" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-info" onclick="LoadPart_LocationLookup('#modal')" data-toggle="modal" data-target="#mdl">Import</button>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="search" id="txtLocationsSearch" class="form-control" onkeydown="if (event.keyCode == 13) { LoadPart_LocationsListByLocationViewIDDiv(@Model.ID); return false; }" />
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-primary" onclick="LoadPart_LocationsListByLocationViewIDDiv(@Model.ID)">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="well well-lg">
                                <div id="divLocationsList">

                                </div>
                            </div>

                        </div>
                        <div id="tabLocationViewDevkeys" class="tab-pane fade">



                            <div id="divLocationViewDevkeys">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->

@section scriptfiles{
    <script src="~/Scripts/MsMaps/mapcontrol.js"></script>
    <script src="~/DynScripts/LocationViews.js"></script>
    <script src="~/DynScripts/Locations.js"></script>
}

@section scripts{
    <script>
        $(document).ready(function () {
            selectedLocationView = @Model.ID
            LoadPart_LocationsListByLocationViewIDDiv(@Model.ID);

        });

    </script>
}