@model DynThings.Data.Models.App
@{
    ViewBag.Title = "App Details";
}

<div id="page-title">
    <div class="row">

        <div class="col-lg-9">
            <h1 class="page-header text-overflow">App Details: @Model.Title</h1>
            <h5>Manage the platform customizations using apps, and publish your app to DynThings store.</h5>
        </div>

        <div class="col-lg-3">
            <div class="pull-right">
                <br />
                <a href="~/Apps"> < Back to Apps List</a>
            </div>
        </div>
    </div>
</div>

<div id="page-content">
    <div class="fixed-fluid">
        <div class="fixed-sm-200 fixed-lg-250 pull-sm-left">
            <div class="">
                <div class="text-center bg-info">
                    <img src="~/Imgs/Apps/0.jpg" style="height:100%;width:100%" />
                    <ul class="list-unstyled text-center pad-top mar-no row">
                        <li class="col-xs-4">
                            <span class="text-lg text-semibold">@Model.Title</span>
                            <br /><br />
                            <p class="text-sm mar-no"> </p>
                        </li>
                        @*<li class="col-xs-4">
                                <span class="text-lg text-semibold">23K</span>
                                <p class="text-sm mar-no">Followers</p>
                            </li>
                            <li class="col-xs-4">
                                <span class="text-lg text-semibold">278</span>
                                <p class="text-sm mar-no">Post</p>
                            </li>*@
                    </ul>
                </div>
                <div class="list-group bg-trans pad-btm">
                    <H3 class="list-group-item">Main</H3>
                    <a class="list-group-item" onclick="LoadPart_AppDetailsDiv();" style="cursor: pointer;">Main Info</a>
                    <a class="list-group-item" onclick="LoadPart_AppAPIEntitiesDiv();" style="cursor: pointer;">API Security Permissions</a>
                    <a class="list-group-item" href="#" style="cursor: pointer;"><span class="label label-info pull-right">Local App</span>Publish to Store</a>
                    <a class="list-group-item" onclick="LoadPart_DialogAppDelete();" style="cursor: pointer;">Delete App</a>

                    <H3 class="list-group-item">Content</H3>
                    <a class="list-group-item" onclick="LoadPart_AppThingTypesContaierDiv();" style="cursor: pointer;">Thing Types</a>
                    <a class="list-group-item" onclick="LoadPart_AppThingExtenstionsDiv();" style="cursor: pointer;">Thing Extenstions</a>

                </div>
            </div>
        </div>

        <div class="fluid">
            <div class="fixed-fluid">
                <div id="divPageDetails">

                </div>
            </div>
        </div>
    </div>

</div>

@section scriptfiles{
    <script src="~/Assets/Scripts/DynScripts/Apps.js"></script>


}

@section scripts{
    <script>
    $(document).ready(function () {
        selectedAppID = @Model.ID;
        LoadPart_AppDetailsDiv('@Model.ID');
        LoadPart_AppApiEntitysByAppIDDiv('@Model.ID');
    });
    </script>
}