
@model DynThings.Core.SetupModels.PlatformConfig

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Configurations</h4>
</div>

<div class="modal-body">
    @using (Html.BeginForm("PlatformConfigPV", "Setup", FormMethod.Post, new { id = "SetupPlatformConfigForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <span>Platform Title</span>
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        <br />

        <span>Public Access</span>
        @Html.EditorFor(model => model.PublicAccess, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PublicAccess, "", new { @class = "text-danger" })
        <br />

        <span>Public SignUp</span>
        @Html.EditorFor(model => model.PublicSignUp, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PublicSignUp, "", new { @class = "text-danger" })
        <br />

        <span>Local Time Zone</span>
        @Html.DropDownList("TimeZone", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TimeZone, "", new { @class = "text-danger" })
        <br />

        <span>Development Mode</span>
        @Html.EditorFor(model => model.DevelopmentMode, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DevelopmentMode, "", new { @class = "text-danger" })
        <br />

    }
    @*<div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="btnTestDatabaseConnection()">Test Connection</button>
        <button type="button" class="btn btn-primary" onclick="btnSaveDatabaseConnection()">Save</button>
    </div>*@
</div>



<script>
</script>