@model DynThings.Data.Models.AspNetUser

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="page-header">
        <h1>User Details</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tabDynUsermain">Main</a></li>
                <li><a data-toggle="tab" href="#tabDynUserRoles">Roles</a></li>
                <li><a data-toggle="tab" href="#tabDynUserDelete">Delete</a></li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="tabDynUsermain" class="tab-pane fade in active">
                            <div id="divDynUserMain">
                            </div>
                        </div>
                        <div id="tabDynUserRoles" class="tab-pane fade">
                            <div class="right">
                                <button type="button" class="btn btn-info btn-sm pull-right" onclick="LoadPart_DynUserRolesDiv('@Model.Id')" >Refresh</button>
                                <button type="button" class="btn btn-info btn-sm pull-right" onclick="LoadPart_DialogDynUserRoleAdd()" data-toggle="modal" data-target="#mdl">Add</button>
                            </div>
                            <div id="divDynUserRoles">
                            </div>
                        </div>
                        <div id="tabDynUserDelete" class="tab-pane fade">
                            <div id="divDynUserDelete">
                                <button type="button" class="btn btn-danger" onclick="LoadPart_DialogDynUserDelete(@Model.Id)" data-toggle="modal" data-target="#mdl">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->




@section scripts{
    <script src="~/Assets/Scripts/DynScripts/DynUsers.js"></script>

    <script>
        $(document).ready(function () {
            selectedDynUserID = '@Model.Id';
            LoadPart_DynUserDetailsDiv('@Model.Id');
            LoadPart_DynUserRolesDiv('@Model.Id')
        });
    </script>



}


