@model DynThings.Data.Models.DynSetting
<div class="row">

        @using (Html.BeginForm("ResetPV", "Config", FormMethod.Post, new { id = "ConfigResetForm" }))
        {
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Reset Confirmation</h4>
            </div>

            <div class="alert alert-danger alert-dismissable">
                <h3>Warning</h3><h5>Reset the Platform will remove all objects,data and customizations. All the IOs from devices will be ignored until you reconfig the devices with the suitable DevKeys.</h5>
            </div><br />


            <div class="modal-body">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.PlatformKey)
                <span>Are you sure you want to reset the entire Platform ?</span><br /><br />
                <span>Title: @Model.PlatformTitle</span><br />

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger">Reset</button>
            </div>
        }

</div>

<script>
    //Attach : Delete Form Submit
    $(document).ready(function () {
        $("#ConfigResetForm").on("submit", function (event) {
            event.preventDefault();
            var url = $(this).attr("action");
            var formData = $(this).serialize();
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (resp) {
                    window.location = getRootURL() + "setup/";
                }
            })
        });
    });
</script>