@using Microsoft.AspNet.Identity;
@model IPagedList<DynThings.Data.Models.LinkDevicesLocation>

<table class="table striped hovered border bordered">
    <thead>
        <tr>
            <th>Device</th>
            <th>Deploy Time Stamp</th>
            <th>Deployed by</th>
            <th>Remove Time Stamp</th>
            <th>Removed by</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Device.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser1.FullName)
                </td>
                <td>
                    @if (!String.IsNullOrEmpty( item.EndByUser) )
                    {
                        @Html.DisplayFor(modelItem => item.EndTimeStamp)
                    }
                </td>
                <td>
                    @if (!String.IsNullOrEmpty(item.EndByUser))
                    {
                        @Html.DisplayFor(modelItem => item.AspNetUser.FullName)
                    }
                </td>
                <td>
                    @if (String.IsNullOrEmpty(item.EndByUser))
                    {
                        <h5><span class="label label-info ">Deployed</span></h5>
                    }
                    else
                    {
                        <h5><span class="label label-warning">Removed</span></h5>
                    }
                </td>
                <td>
                    @if (String.IsNullOrEmpty(item.EndByUser))
                    {
                        <button class="btn btn-danger btn-sm" onclick="DeattachDeviceFromLocation(@item.ID)">Remove</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="DetailsDevicesListPager">
    <input id="DetailsDevicesCurrentPage" value="@Model.PageNumber.ToString()" hidden />
    @Html.PagedListPager(Model, page => Url.Action("DetailsDevicesListPV", "Locations", new { page }) + "&LocationID=" + Model[0].LocationID)
</div>

<script>
      $(document).ready(function () {
        AttachEventLocationDevicesListPager();
    });


</script>