@using Microsoft.AspNet.Identity;
@model IPagedList<DynThings.Data.Models.LinkThingsLocation>

<table class="table striped hovered border bordered">
    <thead>
        <tr>
            <th>Thing</th>
            <th>Deploy Time Stamp</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Thing.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTimeStamp)
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" onclick="DeattachThingFromLocation('@item.ID')">Remove</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="DetailsThingsListPager">
    <input id="DetailsThingsCurrentPage" value="@Model.PageNumber.ToString()" hidden />
    @Html.PagedListPager(Model, page => Url.Action("DetailsThingsListPV", "Locations", new { page }) + "&LocationID=" + Model[0].LocationID)
</div>

<script>
      $(document).ready(function () {
        AttachEventLocationThingsListPager();
    });


</script>