@model IPagedList<DynThings.Data.Models.Location>



<table class="table striped hovered border bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>GUID</th>
            <th>Is Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GUID)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.IsActive)*@
            </td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }
    </tbody>
</table>


<div id="LocationsListPager">
    <input id="LocationCurrentPage" value="@Model.PageNumber.ToString()" hidden />
    @Html.PagedListPager(Model, page => Url.Action("ListPV", new { page }))
</div>

