@model DynThings.Data.Models.ThingExtenstionValue

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Property Editor</h4>
</div>
<div class="modal-body">
    @Html.HiddenFor(model => model.ID)
    <span>Are you sure you want to delete the following property?</span><br /><br />
    <p>Value: @Model.Valu</p>
    <p>Thing: @Model.Thing.Title</p>
    <p>Data type: @Model.ThingExtenstion.DataType.Title</p><br />
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-danger" onclick="DialogThingExtensionDelete();">Delete</button>
</div>

<script>
    function DialogThingExtensionDelete(){
    Post_DialogThingPropertyDelete('@Model.ID');
    };
</script>