@model DynThings.Data.Models.ThingExtensionValue

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Property Editor</h4>
</div>
<div class="modal-body">
    @Html.HiddenFor(model => model.ID)
    <table>
        <tr>
            <td>Thing Type:</td>
            <td>@Model.ThingExtension.ThingCategory.Title</td>
        </tr>
        <tr>
            <td>Thing:</td>
            <td>@Model.Thing.Title</td>
        </tr>
        <tr>
            <td>Data type:</td>
            <td>@Model.ThingExtension.DataType.Title</td>
        </tr>
    </table>
    <br />
    <p>Value</p>
    <input type="text" id="txtNewValue" class="form-control" value="@Model.Valu" />
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" onclick="DialogThingExtensionEdit();">Save changes</button>
</div>

<script>
    function DialogThingExtensionEdit(){
        Post_DialogThingPropertyEdit('@Model.ID',$('#txtNewValue').val());
    };
</script>